{% extends 'base.html.twig' %}

{% block title %}
    {{ pokemon.nom }} | {{ parent() }}
{% endblock %}

{% block body %}
    <a href="{{ path('pokemon_list') }}">&rarr;liste de pokemons</a>
    <div id="detailPokemon">
        <h2 style="text-align: center">{{ pokemon.nom }}</h2>
        <div>
            <img src="{{ asset('img/pokemon/'~pokemon.image ) }}" alt="">
        </div>
        <div> attaque : {{ pokemon.attaque }} </div>
        <div> defense : {{ pokemon.defense }} </div>
        <p>
            {{ pokemon.description }}
        </p>
    </div>
{% endblock %}


